@using Webshop.Services.Services
@using Webshop.EntityFramework.Data
@model List<CartItem>
@{
    var isAuthenticated = ViewBag.IsAuthenticated;
    var totalPrice=0;
}
<head>
    <style>
        img
        {
            max-width:100px;
            height:auto;
        }
    </style>
</head>



<h2>Bevásárlókosár</h2>

@if (Model != null && Model.Any())
{
    <table>

        @foreach (var item in Model)
        {
            totalPrice=totalPrice+item.Product.Price;
            <tr>
                @if (item.Product.ImageData != null && item.Product.ImageData.Length > 0)
                {
                    var base64Image = Convert.ToBase64String(item.Product.ImageData);
                    <img src="data:image/jpeg;base64,@base64Image" class="card-img-top product-image" alt="@item.Product.ProductName">
                }
                <td><h2 class="display-6">@item.Product.ProductName</h2></td>
                <td>@item.Product.Price Ft</td>
                @*<form action="@Url.Action("UpdateQuantity", "Cart")" method="post">
                            <input type="hidden" name="cartItemId" value="@item.Id" />
                            <select name="quantity" class="form-control" onchange="this.form.submit()">
                                @for (int i = 1; i <= item.Product.StockQuantity; i++)
                                {
                                    <option value="@i" @(i == item..Quanity ? "selected" : "")>@i</option>
                                }
                            </select>
                        </form>*@
                <td>
                    <form action="@Url.Action("RemoveFromCart", "Cart")" method="post">
                        <input type="hidden" name="productId" value="@item.ProductId" />
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </td>
            </tr>

        }
        <tr>
            <td>Végösszeg:</td>
            <td>@totalPrice Ft</td>
        </tr>
    </table>
   
    <a href=@Url.Action("Details", "Order")>Rendelés</a>
}
else
{
    <p>A kosár üres.</p>
}



