@using Webshop.EntityFramework.Data
@model UserData

@{
    var cartid = Context.Session.GetInt32("CartId");
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <h3>Szállítási adatok</h3>
        </div>
    </div>
    @if (Model.Address is null)
    {
        <form action="@Url.Action("RecordAddress", "Order")" method="post">

            <div class="row justify-content-center">
                <div class="col-auto"><label class="form-label fw-bold ">Számlázási Név</label></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <input type="text" name="name" class="form-control" />
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto"><label class="form-label fw-bold ">Település</label></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <input type="text" name="city" class="form-control" />
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto"><label class="form-label fw-bold">Irányítószám</label></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <input type="number" name="zip" class="form-control" />
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto"><label class="form-label fw-bold">Utca, házszám</label></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <input type="text" name="street" class="form-control" />
                </div>
            </div>
            <input type="submit" value="Küldés" />
        </form>

    }
    else
    {
        <div class="row justify-content-center">
            <div class="col-auto"><label class="form-label fw-bold">Település</label></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto"><label class="form-label ">@Model.Address.City</label></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto"><label class="form-label fw-bold">Irányítószám</label></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto"><label class="form-label">@Model.Address.ZipCode</label></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto"><label class="form-label fw-bold">Utca, házszám</label></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto"><label class="form-label">@Model.Address.StreetAndNumber</label></div>
        </div>

        <form action="@Url.Action("PlaceOrder", "Order")" method="get">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <h4>Szállítási opciók</h4>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <input type="radio" name="shipping" value="MPL Futárszolgálat, 1890Ft" />MPL Futárszolgálat (Házhozszállítás 1-2 munkanap) <b>1890Ft</b>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <input type="radio" name="shipping" value="GLS Futárszolgálat, 1590Ft" />GLS Futárszolgálat (Házhozszállítás 1-3 munkanap) <b>1590Ft</b>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <input type="radio" name="shipping" value="DPD Futárszolgálat, 1290Ft" />DPD Futárszolgálat (Házhozszállítás 2-3 munkanap) <b>1290Ft</b>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <input type="radio" name="shipping" value="GLS Express Futárszolgálat, 2890Ft" />GLS Express Futárszolgálat (Házhozszállítás 1 munkanap) <b>2890Ft</b>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <h4>Fizetési opciók</h4>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <input type="radio" name="payment" value="Utánvét, 490Ft" />Utánvét (Futárnál készpénzel, bankártyával) <b>490Ft</b>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <input type="radio" name="payment" value="Online bankártyás fizetés, Ingyenes" />Online bankártyás fizetés(Simple Pay) <b>Ingyenes</b>
                </div>
            </div>

            <input type="submit" value="Tovább" />
        </form>

    }
    


