@using Webshop.Services.Services.ViewModel
@model OrderSummaryViewModel

<div class="row justify-content-center">
    <div class="col-auto">
        <h3>Összegzés</h3>
    </div>
</div>

<div class="container mt-4">
    <h4>Megrendelt termékek</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @if (item.ImageUrl != null && item.ImageUrl.Length > 0)
                        {
                            var base64Image = Convert.ToBase64String(item.ImageUrl);
                            <img src="data:image/jpeg;base64,@base64Image" class="card-img-top product-image" alt="@item.Name">
                        }
                    </td>
                    <td>@item.Name</td>
                    <td>@item.Price.ToString("C")</td>
                    <td>@item.Quantity</td>
                </tr>
            }
        </tbody>
    </table>

    <h4>Szállítási adatok</h4>
    <p><strong>Név:</strong> @Model.CustomerName</p>
    <p><strong>Cím:</strong> @Model.ShippingAddress</p>
    <p><strong>Szállítási mód:</strong> @Model.ShippingOption</p>
    <p><strong>Fizetési mód:</strong> @Model.PaymentOption</p>

    <h3>Végösszeg: @Model.TotalPrice.ToString("C")</h3>

    <a class="btn btn-primary" href="@Url.Action("Confirm", "Order")">Rendelés leadása</a>
</div>
