@using Webshop.EntityFramework.Data
@model Products

<head>
    <meta charset="UTF-8" />
</head>
<h1>@Model.ProductName</h1>

<p><strong>Ár:</strong> @Model.Price</p>
<p><strong>Mennyiség:</strong> @Model.Quanity</p>
<p><strong>Leírás:</strong> @Model.Description</p> 
@foreach(var desc in Model.Description)
{
    <p>@desc</p>
}
@if(Model.Quanity>0)
{
    <a href=@Url.Action("AddToCart","Product", new { Id = Model.Id })>Kosárhoz adás</a>

}
else
{
    <p>Nincs raktáron</p>
}

