@using Webshop.EntityFramework.Data
@model List<Products>
<div class="container">
    <div class="row">
        @foreach (var product in Model)  
        {
            <div class="col-md-2 mb-4">
                
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="@Url.Action("Details", "Product", new { id = product.Id })" class="text-decoration-none">
                                @product.ProductName
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
        }
    </div>
</div>





   @*  <table>
        <thead>
            <th>Terméknév</th>
            <th>ár</th>
            <th>mennyiség</th>
        </thead>
        <tbody>
            @if (Model is not null)
            {
                @foreach (var product in Model)
                {
                    <tr>

                    <td><a href="@Url.Action("Details", "Product", new { id = product.Id })">@product.ProductName</a></td>
                    
                        <td>@product.Price</td>
                        <td>@product.Quanity</td> 
                        <td></td>
                    </tr>
                }
            }
        </tbody>
        
    </table> *@
