@using Webshop.Services.Services.ViewModel
@model ProductFilterViewModel
@{
    var searchValue = ViewBag.searchValue;
}
<head>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/css/products.css" />

</head>
<div class="mb-3">
    <label for="sortOrder">Rendezés:</label>
    <select id="sortOrder" class="form-control" onchange="sortProducts()">
        <option value="">Válassz...</option>
        <option value="name_asc">Név szerint (A-Z)</option>
        <option value="name_desc">Név szerint (Z-A)</option>
        <option value="price_asc">Ár szerint növekvő</option>
        <option value="price_desc">Ár szerint csökkenő</option>
    </select>
</div>
<input type="hidden" id="searchValue" value="@searchValue" />
<script>
    function sortProducts() {
        var sortOrder = document.getElementById("sortOrder").value;
        var searchValue = document.getElementById("searchValue") ? document.getElementById("searchValue").value : '';
        var minPrice = document.getElementById("minPrice") ? document.getElementById("minPrice").value : '';
        var maxPrice = document.getElementById("maxPrice") ? document.getElementById("maxPrice").value : '';

        var url = `/Product/Search?sortOrder=${sortOrder}&searchValue=${encodeURIComponent(searchValue)}&minPrice=${minPrice}&maxPrice=${maxPrice}`;
        window.location.href = url;
    }
</script>
<div class="container">
    <div class="row mb-4">
        <div class="col">
            <form method="get" asp-action="Search" id="filterForm">
                <input type="hidden" name="searchValue" value="@ViewBag.searchValue" />
                <input type="hidden" name="sortOrder" id="sortOrderHidden" value="@Model.SortOrder" />
                <div class="row">
                    <div class="col-md-6">
                        <input type="number" class="form-control" name="minPrice" placeholder="Min Price"  />
                    </div>
                    <div class="col-md-3">
                        <input type="number" class="form-control" name="maxPrice" placeholder="Max Price"  />
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary">Szűrés</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
        @if(Model is not null)
        {
            @foreach (var product in Model.Products)
            {
                <div class="col mb-4">
                    <a href="@Url.Action("Details", "Product" , new {name = Uri.EscapeDataString(product.ProductName.Replace(" ", "-")), id=product.Id })" class="text-decoration-none">
                        <div class="card">
                            <div class="card-body">
                                @if (product.ImageData != null && product.ImageData.Length > 0)
                                {
                                    var base64Image = Convert.ToBase64String(product.ImageData);
                                    <img src="data:image/jpeg;base64,@base64Image" class="card-img-top product-image" alt="@product.ProductName">
                                }
                                <h5 class="card-title">@product.ProductName</h5>
                                @if(product.Price==0)
                                {
                                    <h5>Hamarosan</h5>
                                }
                                else if(product.Quanity<1)
                                {
                                    <h5>@product.Price.ToString("N0") ft (Elfogyott)</h5>
                                }
                                else
                                {
                                    <h5>@product.Price.ToString("N0") Ft</h5>
                                    <a href=@Url.Action("AddToCart","Product", new {id=product.Id}) class="add-to-cart">Kosárba rakom</a>
                                }
                            </div>
                        </div>
                    </a>
                </div>
            }
        }
        else
        {
            <div>Sajnos nincs ilyen termék.</div>
        }
        @section Pagination {
            <div class="pagination-container">
                @if (Model.TotalPages > 1)
                {
                    <nav>
                        <ul class="pagination">
                            @if (Model.PageNumber > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Search", new { searchValue=searchValue, pageNumber = Model.PageNumber - 1, pageSize = Model.PageSize, MinPrice = Model.MinPrice, MaxPrice = Model.MaxPrice, sortOrder=Model.SortOrder})">Előző</a>
                                </li>
                            }

                            @for (int i = 1; i <= Model.TotalPages; i++)
                            {
                                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                    <a class="page-link" href="@Url.Action("Search", new { searchValue=searchValue, pageNumber = i, pageSize = Model.PageSize, MinPrice = Model.MinPrice, MaxPrice = Model.MaxPrice,sortOrder=Model.SortOrder })">@i</a>
                                </li>
                            }

                            @if (Model.PageNumber < Model.TotalPages)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Search", new { searchValue=searchValue, pageNumber = Model.PageNumber + 1, pageSize = Model.PageSize, MinPrice = Model.MinPrice, MaxPrice = Model.MaxPrice,sortOrder=Model.SortOrder })">Következő</a>
                                </li>
                            }
                        </ul>
                    </nav>
                }
            </div>
        }

    </div>
</div>






  
