@using Webshop.EntityFramework.Data
@model UserData
@{
    var Code = ViewBag.Response;
}
@using (Html.BeginForm("TryRegister", "Authentication"))
{
    @if(Code is not null && Code!="")
    {
        <h1>@Code</h1>
        
    }
    <h1>Regisztráció</h1>
    <label>Felhasználónév</label>
    @Html.TextBoxFor(user=>user.Username);
    <label>Email cím</label>
    @Html.TextBoxFor(user => user.EmailAddress);
    <label>Jelszó</label>
    @Html.PasswordFor(user => user.Password)
    <label>Jelszó újra</label>
    @Html.PasswordFor(user => user.Password);
    <input type="submit" value="Regisztráció" />
}
